extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div= following.nick
            //- div.fngNick = following.nick
            //- button.twit-follow-cancel 팔로우 끊기
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick

    form#profile-form(method='post', action='/user/profile')
      input(name='nick')
      button 닉네임 수정


  //- script.
  //-   document.querySelectorAll('.twit-follow-cancel').forEach(function (tag) {
  //-     tag.addEventListener('click', function () {
  //-       var isLoggedIn = document.querySelector('#my-id');
  //-       if (isLoggedIn) {
  //-         var userId = tag.parentNode.querySelector('.fngNick').innerHTML;
  //-         var myId = isLoggedIn.value;
  //-         if (userId !== myId) {
  //-           if (confirm('팔로우를 끊겠습니까?')) {
  //-             var xhr = new XMLHttpRequest();
  //-             xhr.onload = function () {
  //-               if (xhr.status === 200) {
  //-                 location.reload();
  //-               } else {
  //-                 console.error(xhr.responseText);
  //-               }
  //-             };
  //-             xhr.open('POST', '/user/' + userId + '/unfollow');
  //-             xhr.send();
  //-           }
  //-         }
  //-       }
  //-     });
  //-   });